# Ignore node modules
/db
/wanted
/test
/server

# Ignore logs
npm-debug.log
npm-error.log

# Ignore the Git repository and its logs
.git
.github
.gitignore
.gitattributes

# Ignore Docker files (optional)
Dockerfile
.dockerignore

# Ignore environment files
.env
.env.development
.env.production

# Ignore other unnecessary files
README.md
LICENSE
.DS_Store
*.md
